version: "3.9"
services:
  redis:
    image: redis:7-alpine
    command: 
      - "redis-server"
      - "--appendonly"
      - "yes"
      - "--user"
      - "default on >12341234 ~* +@all"
      - "--user"
      - "lapeh on >12341234 ~* +@all"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
